@model CatalogViewModel

@{
	ViewBag.Title = "Каталог товаров";
}
<div class="contatiner">
    <div class="container">
		<div class="row">
			<div class="col-sm-3">
				<partial name="Partial/_Asite"/> 
			</div>
			<div class="col-sm-9 padding-right">
				<partial name="Partial/_Products" model="Model.Products"/> 
			</div>
		</div>
	</div>	
</div>