@model WebStore.Models.Employee

<!DOCTYPE html>

<head>
    <title>Карточка сотрудника</title>
</head>
<body>
    <h3>Фамилия: @Model.FirstName</h3>
    <h3>Имя: @Model.LastName</h3>
    <h3>Отчество: @Model.Patronymic</h3>
    <h3>Возраст: @Model.Age</h3>

</body>